.title__container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;  
}

.title__bio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.title__subsection{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

}